<div class="grid grid-gap gap-x-6 grid-cols-[300px_auto] mt-10">
  <div>
    <div>
      <turbo-frame id="new_project">
        <%= link_to 'Create project', new_project_path,
                    data: { turbo_frame: "new_project" },
                    class: 'block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 mb-5' %>
      </turbo-frame>
    </div>

    <%= turbo_frame_tag "projects_list" do %>
      <%= render ProjectsListComponent.new(projects: @projects) %>
    <% end %>
  </div>

  <%= turbo_frame_tag "sidebar" do %>
    <div class="mb-5">
      <h3 class="text-xl font-bold"><%= @project.title %></h3>
      <p><%= @project.description %></p>
    </div>

    <div class="mb-4">
      <%= turbo_frame_tag dom_id(@comment) do %>
        <%= render CommentFormComponent.new(comment: @comment) %>
      <% end %>
    </div>

    <%= turbo_frame_tag "comments_list" do %>
      <%= render CommentsListComponent.new(comments: @project.comments.recently_updated) %>
    <% end %>
  <% end %>

</div>